

.ambassador-container{
    margin: 4rem 6rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem;
}

.ambassador-container h1{
    padding: 1rem;
}

.ambassador-container img{
    margin: 2rem 1rem;
    width: 450px;
    height: 350px;
    border-radius: 7px;
}

.ambassador-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
    .ambassador-container{
        margin: 4rem 2rem;
    }
}

