

.ambassador-container{
    margin: 4rem 6rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 4rem; */
}

.ambassador-container h1{
    padding: 1rem;
    /* margin-left: 50px; */
}

.ambassador-container img{
    margin: 2rem 1rem;
    width: 450px;
    height: 350px;
    border-radius: 7px;
}

.ambassador-container p{
    padding-bottom: 2rem;
    /* margin-left: 50px; */
}

@media screen and (max-width: 850px) {
    .ambassador-container{
        /* margin: 4rem 2rem; */
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        object-fit: contain;
    }

    .ambassador-text{
        width: 100%;
    }

    .ambassador-container img{
        height: 250px;
        width: 100%;
        margin: 1.8rem 0;
    }
}

