.btn {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-style: 1.1rem;
    color: #fff;
    background: rgb(173, 3, 3);
    border-radius: 5px;
    border-style: double;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: rgb(173, 3, 3);
    background: #fff;
    border: rgb(173, 3, 3);
    border-style: double;
}

