.cd_container{
    margin: 4rem 6rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cd_container img{
    /* margin: 1rem; */
    width: 350px;
    height: 250px;
    border-radius: 7px;
    object-fit: cover;
}

.cd_text{
    padding-left: 2rem;
}
.cd_text h1{
    padding-bottom: 1rem;
}

.cd_text p{
    padding-bottom: 2rem;
    text-align: justify;
}

table{
    border-collapse: collapse;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), 
    -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr{
    transition: all .2s ease-in;
}

th{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

span{
    font-weight: bold;
}


#header{
    background-color: #024c02ef;
    color: #fff;
}

 @media screen and (max-width: 850px) {
    .cd_container{
        margin: 4rem 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        object-fit: contain;
    }

    .cd_container img{
        height: 250px;
        width: 100%;
        margin: 1.8rem 0;
    }
    .cd_text{
        width: 100%;
    }
} 

