.lp_container{
    margin: 4rem 6rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lp_container img{
    /* margin: 1rem; */
    width: 350px;
    height: 250px;
    border-radius: 7px;
    object-fit: cover;
}

.lp_text{
    padding-left: 2rem;
}

.lp_text h1{
    padding-bottom: 1rem;
}

.lp_text p{
    padding-bottom: 1rem;
    text-align: justify;
}

.lp_text hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 850px) {
    .lp_container{
        margin: 4rem 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        object-fit: contain;
    }

    .lp_container img{
        height: 250px;
        width: 100%;
        margin: 1.8rem 0;
    }
    .lp_text{
        width: 100%;
    }

    
}

