
.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem .3rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 5px;
}

.nav-links:hover{
    background-color: green; /* #9a0101; */
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile{
    display: none;
}


/* New dropdow */
.dropbtn {
    background-color: #fff;
    min-width: 115px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    text-decoration: none;
}

.dropbtn i{
    padding-right: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;  
    min-width: 150px;
    /* min-width: max-content; */
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    font-size: .9rem;
    /* font-weight: bold; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    /* max-width: 10px; */
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover .dropbtn{background-color: #1b5f05;}

@media screen and (max-width:1000px) {

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .dropbtn{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover{
        background: #9a0101;
        transition: none;
    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: #9a0101;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1.5px;

    }
}

