.passport-container{
    margin: 4rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.passport-text{
    padding-bottom: 1rem;
    padding: 2rem;
}
.passport-text h1{
    padding-bottom: 1rem;
}

.passport-text p{
    padding: 2rem 0;
    text-align: justify;
}

.passport-text ul {
    text-align: justify;
}

.passport-container img{
    margin: 2rem 1rem;
    width: 450px;
    height: 350px;
    border-radius: 7px;
    object-fit: cover;
}

@media screen and (max-width: 850px) {
    .passport-container{
        margin: 4rem 2rem;
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;
        object-fit: contain;
    }

    .passport-text{
        width: 100%;
    }

    .passport-container img{
        height: 250px;
        width: 100%;
        margin: 1.8rem 0;
    }
}

